@page "{handler?}/{id?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>List of contacts</h4>
</div>

<table class="table table-bordered">

    @if (Model.ContactList.Count == 0)
    {
        <div class="text-center alert-danger">
            <h1>Could not read data from DataBase!</h1>
        </div>
    }

    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Email</th>
                <th>Phone</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ContactList)
        {
            <tr class="text-center">
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@(DateTime.Now.Year - item.BirthDay.Year)</td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td class="text-center">
                        <form asp-page-handler="delete" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            @*<a href="youtube.pl">Link</a> Teraz są obok siebie!*@
                        </form>
                        
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (User.Identity.IsAuthenticated) //Should only logged in users be able to modify table?
{
    <div>
        <form method="post">
            <label>
                Delete user by ID
                <input asp-for="Contact.Id" type="number" />
            </label>
            <button type="submit" class="btn alert-danger">DELETE</button>

        </form>
    </div>
    <button onclick="document.getElementById('addForm').style.display='block'" class="btn btn-outline-primary">Add New Contact!</button>
}

<div id="addForm" class="modal">

    <form method="post" class="modal-content animate">
        <div class="container text-center">
                                                                                                                            <!--@@ to escape dotnet pattern-->
            <input class="text-center" type="text" minlength="3" maxlength="15" asp-for="Contact.FirstName" placeholder="Name" pattern="[^'\x22<>()!@@#$%^&*()]+" required /> @*Without it its centered*@
            <br />
            <input class="text-center" type="text" minlength="3" maxlength="20" asp-for="Contact.LastName" placeholder="LastName" pattern="[^'\x22<>()!@@#$%^&*()]+" required />
            <br />                                                                                                      
            <input type="email" maxlength="30" asp-for="Contact.Email" placeholder="Email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" required /> Email
            <br />
            <input type="number" minlength="3" maxlength="11" asp-for="Contact.Phone" placeholder="Phone" required /> Phone Number
            <br />
            <input type="date" asp-for="Contact.BirthDay" asp-format="{0:yyyy-MM-ddTHH:mm}" required />
            <br /> <!--REMEMBER ABOUT DATE FORMATING-->
            @*            <select name="kategoria" asp-for="NewPerson.Category">
            <option value="2">Prywatny</option>
            <option value="1">Służbowy</option>
            <option value="3">Inny</option>
            </select>*@
            
            <br />
            <button class="btn btn-primary mt-1" type="submit">Add new contact!</button>
        </div>
    </form>
</div>

<script>
    function myFunction() {
        alert("I am an alert box!");
    }
</script>

<script>
    var modal = document.getElementById('addForm');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

